src/wsdl/prod.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.boleto.usp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.boleto.usp/" name="BoletoSIBService">
<wsp:Policy wsu:Id="BoletoSIBPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"></ns1:OptimizedMimeSerialization>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.boleto.usp/" schemaLocation="https://uspdigital.usp.br:443/wsboleto/boleto?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="gerarBoleto">
<part name="parameters" element="tns:gerarBoleto"></part>
</message>
<message name="gerarBoletoResponse">
<part name="parameters" element="tns:gerarBoletoResponse"></part>
</message>
<message name="WSException">
<part name="fault" element="tns:WSException"></part>
</message>
<message name="obterBoleto">
<part name="parameters" element="tns:obterBoleto"></part>
</message>
<message name="obterBoletoResponse">
<part name="parameters" element="tns:obterBoletoResponse"></part>
</message>
<message name="obterSituacao">
<part name="parameters" element="tns:obterSituacao"></part>
</message>
<message name="obterSituacaoResponse">
<part name="parameters" element="tns:obterSituacaoResponse"></part>
</message>
<portType name="BoletoWS">
<operation name="gerarBoleto">
<input wsam:Action="http://ws.boleto.usp/BoletoWS/gerarBoletoRequest" message="tns:gerarBoleto"></input>
<output wsam:Action="http://ws.boleto.usp/BoletoWS/gerarBoletoResponse" message="tns:gerarBoletoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://ws.boleto.usp/BoletoWS/gerarBoleto/Fault/WSException"></fault>
</operation>
<operation name="obterBoleto">
<input wsam:Action="http://ws.boleto.usp/BoletoWS/obterBoletoRequest" message="tns:obterBoleto"></input>
<output wsam:Action="http://ws.boleto.usp/BoletoWS/obterBoletoResponse" message="tns:obterBoletoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://ws.boleto.usp/BoletoWS/obterBoleto/Fault/WSException"></fault>
</operation>
<operation name="obterSituacao">
<input wsam:Action="http://ws.boleto.usp/BoletoWS/obterSituacaoRequest" message="tns:obterSituacao"></input>
<output wsam:Action="http://ws.boleto.usp/BoletoWS/obterSituacaoResponse" message="tns:obterSituacaoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://ws.boleto.usp/BoletoWS/obterSituacao/Fault/WSException"></fault>
</operation>
</portType>
<binding name="BoletoSIBPortBinding" type="tns:BoletoWS">
<wsp:PolicyReference URI="#BoletoSIBPortBinding_MTOM_Policy"></wsp:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="gerarBoleto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obterBoleto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obterSituacao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BoletoSIBService">
<port name="BoletoSIBPort" binding="tns:BoletoSIBPortBinding">
<soap:address location="https://uspdigital.usp.br:443/wsboleto/boleto"></soap:address>
</port>
</service>
</definitions>